@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Kaushan+Script&family=Poppins:ital,wght@1,200&family=Roboto:wght@400;700&family=Smooch&display=swap");
:root {
  --primary_color: #131820;
  --secondary_color: #0b1a35;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #183b54;
  --footer-background: #ebf2fa;
  --padding-inline-section: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary_color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
  color: var(--secondary-text-color);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
  color: white;
}
a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

span {
    color: var(--accent-color);
}
div {
    color: white;
}
/* utility class */

.small-bold-text {
  font-size: 1rem;
  font-weight: bold;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.flex {
  display: flex;
  /* align-items: center; */
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
}

.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

header {
  background-color: var(--secondary_color);
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}

.logo {
  font-size: 2rem;
  background: -webkit-linear-gradient(#374151, #94b2e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.search {
  background-color: transparent;
  border: 0.2rem solid #64748b;
  border-radius: 5rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #78716c;
}

.search:focus {
  outline: none;
  background-color: var(--primary_color);
  color: #fff;
}

.backdrop {
    height: max-content;
    width: 100vw;
}

.poster {
    width: 20vw;
}

.green{
    color: lightgreen;
}

.red {
    color: crimson;
}

.orange {
    color: orange;
}


.original_title {
    text-align: center;
    font-size: 4rem;
}

  /* sub footer */

  .sub-footer {
    background:#b9cde4;
}
.sub-footer-container {
    justify-content: space-around;
    flex-direction: row;
}

.sub-footer-links-container {
    color: var(--primary-text-color);
    font-weight: 500;
}
.icons {
    padding-block: 15px;
    margin-left: 20px;
    
}
.policies {
    margin-right: 20px;
}
.policies:hover{
    transition: 0.2 ease-in-out;
    text-shadow: 0px 0px 15px 1px  rgba(0, 0, 0, 0.49);
}

.social-media-section img {
    max-width: 20px;
}
.social-media-section {
    align-items: center;
}

/* footer */

.link-column {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start !important;
  justify-items: flex-start;
  /* align-items: flex-start; */
}
.link-column h4 {
  color: var(--primary-text-color);
  font-size: large;
}
.footer-container{
  justify-content: space-between;
  flex-direction: row;
}

.footer {
  background: #ebf2fa;
  padding-block: 50px;
}
.companies-logo{
  align-self: flex-start;
}

.main-content {
  margin: 1rem 0;
}